*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

.margin-left{
    margin-left: 80px;
}

p{
    font-size: .6rem;
}

.margin-right{
    margin-right: 80px;
}

#search-bar {
    display: none;
  }

.navbar-toggler:hover,
.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}


.btn {
  background: #5f82a9;
  border: none;
}

.btn:hover{
  transition: .5s;
  background: green;
}

.btn.active{
  background: #5f82a9;
}

.category-btn{
  background: transparent;
  border: 1px solid #5f82a9;
  color: black;
  border-radius: 20px;
}

.list-group-item{
  border: #5f82a9;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote-text {
  flex-grow: 1;
}

.remove-btn {
  margin-left: 15px;
  border: none;
  cursor: pointer;
  color: #5f82a9;
  font-size: 2rem;
}




    /* Custom media query for the navbar toggler */
    @media (min-width: 764px) {
        .navbar-toggler{
          display: none;
        }
      }
      @media (max-width: 763px) {
        .navbar-na {
          display: none;
        }
        .navbar-collapse.show .navbar-nav {
          display: block;
        }
        .form-inline{
            display: none !important;
          }
      }